extends layout

block content
  h1 The Recipe Box
  p A collection of delicious recipes for you to use in the kitchen.

  //- 1. Use Pug's `each` iterator to render recipe markup for each recipe object
  //- 2. Render the `href` attribute using the recipe ID. For example: '/recipes/1'
  //- 3. Dynamically display the recipe name
  //- 4. Dynamically render the `src` attribute using the `image_url` property

  each recipe in recipes
    a(href=`/recipes/${recipe.id}`)
      h2= recipe.recipe_name
      img(src=recipe.image_url width='320' height='240')  
